<!--Imagnes Actores-->
<figure class="figure">
    <img src="../../../assets/images/jk4.png"
    style="max-width: 150px;"
    class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Actor name.</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/jk.webp"
    style="max-width: 150px;"
    class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Actor name.</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/jk2.webp"
    style="max-width: 150px;"
    class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Actor name.</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/jk.webp"
    style="max-width: 150px;"
    class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Actor name.</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/jk.webp"
    style="max-width: 150px;"
    class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Actor name.</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/jk.webp"
    style="max-width: 150px;"
    class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Actor name.</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
</figure>